<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="css/H-ui.admin.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="lib/Hui-iconfont/1.0.1/iconfont.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="pd-20">
    <!--<form action="auth/queryNoAuthUserByRoleId" method="post">
        <div class="text-c">
            <div class="row cl ">
                <div class="formControls col-3">
                    用户名: <input type="text" class="input-text" style="width: 250px" name="userName"  th:value="${userName}">
                </div>
                <input type="hidden" name="roleId" th:value="${roleId}"/>
            </div>
            <div class="row cl">
                <div class="cl pd-5">
                    <button type="submit"
                            class="btn btn-success radius" id="" name="" >
                        <i class="hui-iconfont">&#xe665;</i> 搜用户
                    </button>
                </div>
            </div>
        </div>
    </form>-->
   <!-- <div class="cl pd-5 bg-1 bk-gray mt-20">
        <span class="l">
            <a id="batchAddUser" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 批量授权</a>
        </span> </div>-->
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="8">考生信息</th>
        </tr>
        <tr class="text-c">
            <th width="40">ID</th>
            <th width="150">姓名</th>
            <th width="150">性别</th>
            <th width="90">身份证号</th>
            <th width="150">考生号</th>
            <th width="130">考场号</th>
            <th width="130">所在教室</th>
            <th width="130">座位号</th>
        </tr>
        </thead>
        <tbody>

        <tr class="text-c">
            <td th:text="${candidate.candidateId}"></td>
            <td th:text="${candidate.candidateName}"></td>
            <td th:text="${candidate.sex}"></td>
            <td th:text="${candidate.cardNum}"></td>
            <td th:text="${candidate.candidateNum}"></td>
            <td th:text="${candidate.candidateOccasion}"></td>
            <td th:text="${candidate.classroom}"></td>
            <td  th:if="${candidate.classroom == '未分配'}" th:text="未分配"></td>
            <td th:if="${candidate.classroom != '未分配'}" th:text="${candidate.seatNum}"></td>
            <!--<td class="td-manage">-->
                <!--<a style="text-decoration:none" onClick="admin_stop(this,'10001')" href="javascript:;" title="停用">
                    <i class="Hui-iconfont">&#xe631;</i></a>
                <a title="编辑" href="javascript:;" onclick="admin_edit('员工编辑','user/update','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
                <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>-->
                <!--<a href="javascript:;" th:onclick="|select_manager('查看考生信息','candidate/selectById='+${candidate.candidateId},'800','500')|" class="btn btn-primary radius">查看</a>-->
            <!--</td>-->
        </tr>

        </tbody>
    </table>
</div>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="js/H-ui.js"></script>
<script type="text/javascript" src="js/H-ui.admin.js"></script>
<script type="text/javascript">





    /*批量授权用户*/
    $(function(){
        $("#batchAddUser").click(function(){

            layer.confirm('确认要授权这些用户吗？',function(index){
                //找到选中的复选框，取用户的id
                var checkeds = $(".addBox:checked");
                if(checkeds.length==0){
                    layer.msg('请选择要授权用户!',{icon:2,time:2000});
                    return;
                }
                //定义一个数组来装id
                var ids = [];
                //遍历checkeds，把id装到数组中
                for(var i=0;i<checkeds.length;i++){
                    //把id装到数组中
                    ids.push(checkeds[i].value);
                }

                //发送异步请求，把数据带到后端
                $.ajax({
                    url:"auth/batchAddUser",
                    type:"GET",
                    data:"idsList="+ids+"&roleId="+[[${roleId}]],  //html中获取值的方式
                    success:function(data){
                        //判断这个添加的操作是否成功
                        if(data.result){
                            layer.msg('授权用户成功!',{icon:1,time:2000},function(){

                            });
                        }else{
                            layer.msg('授权用户失败!',{icon:2,time:2000});
                        }
                    }
                });
            });
        });
    });




</script>
</body>
</html>